<div class="container">
  <div class="header text-center">
    <img src="assets/ruby150.png" alt="Ruby Logo">
    <h1>Ruby and Rails jobs in Australia and abroad, all in one place</h1>
    <h3>We only show current job ads to optimise your search</h3>
  </div>
  <div class="col-md-8 main-col">
    <div class="jobs-title-australia">
      <p>Jobs in Australia</p>
    </div>
    <div class="jobs-container">
      <% @posts.each do |post| %>
        <div class="job">
          <div class="row">
            <div class="col-md-10">
              <div class="title"><%= link_to post.jobtitle, post.url, :target => "_blank" %></div>
              <div class="company"><%= post.company %></div>
              <div class="location"><%= post.location %></div>
              <div class="summary"><%= post.summary %></div>
            </div>
            <div class="col-md-2 text-center">
             <div class="time"><%= (post.date).strftime("%e %b") %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="indeed-footer">
      <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>                        
    </div>
    <div class="text-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div class="col-md-4 side-col">
    <div class="sidebar">
      <div class="jobs-title-remote">
        <p>Remote Jobs</p>
      </div>
      <div class="remote-jobs-container">
        <% @posts_remote.each do |post| %>
        <div class="job">
          <div class="row">
            <div class="col-md-12">
              <div class="title"><%= link_to post.jobtitle, post.url %></div>
              <div class="company"><%= post.company %></div>
              <div class="time"><%= (post.date).strftime("%e %b") %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  <div class="footer">
    <p>A project by Dylan Wolff<br>
    <a href="http://twitter.com/dgwolff" target="_blank">@dgwolff</a><p>
  </div>
</div>