<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="#">
        </a>
      </div>
    </div>
  </nav>
  <div class="header text-center">
    <h1>The best Ruby and Rails jobs, all in one place</h1>
    <h3>We only show current job ads, so you can optimise your job search</h3>
  </div>
  <div class="col-md-8 main-col">
    <div class="jobs-container">
      <% @posts.each do |post| %>
        <div class="job">
          <div class="row">
            <div class="col-md-10">
              <div class="title"><%= link_to post.jobtitle, post.url %></div>
              <div class="company"><%= post.company %></div>
              <div class="location"><%= post.location %></div>
              <div class="snippet"><%= post.snippet %></div>
            </div>
            <div class="col-md-2 text-center">
              <div class="time"><%= "#{time_ago_in_words(post.date)} ago" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="footer">
      <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>                        
    </div>
    <div class="text-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
  <div class="col-md-4 side-col">
    <div class="sidebar">
      <div class="remote-header">
        <p>Considered a remote job?</p>
        <p>Jobs for companies outside Australia that are either fully or partially remote</p>
      </div>
      <div class="remote-jobs-container">
        <% @posts_remote.each do |post| %>
          <div class="job">
            <div class="row">
              <div class="col-md-12">
                <div class="title"><%= link_to post.jobtitle, post.url %></div>
                <div class="company"><%= post.company %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>