<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The place to find Ruby & Rails jobs in Australia and abroad">
  <meta name="author" content="Dylan Wolff">
  <link rel="icon" href="/favicon.ico">

  <title>Ruby Jobs AU</title>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Google Analytics -->
  <%= render 'google_analytics' %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
